.dossier-relation {
    cursor: pointer;
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 6rem;
    text-align: center;
}

.dossier-relation img {
    border: 3px solid #bca875;
    border-radius: 12rem;
    margin-bottom: .3rem;
    width: 4rem;
    transition: transform .3s;
}

.dossier-relation span {
    color: #bca875;
    font-family: var(--alumni);
    font-size: 1.1rem;
    font-weight: 800;
    text-transform: uppercase;
}

.dossier-relation:hover img {
    transform:scale(1.1);
}