/* navbar style.css */

.navbar {
    background:  #111111;
    border-bottom: 1px solid #C0C0C0;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    height: 6vh;
    z-index: 100;
}

.navbar .title {
    color: #faf8ff;
}

.navbar-button-group {
    display: flex; 
    height: 100%;
}

.elreyan-theme .title{
    color: #bca875;
    background-color: transparent;
}
