/* RotatingCircle.css */

.circle {
    width: 200px;
    height: 200px;
    border: .5px solid #929292;
    border-radius: 50%;
    animation: spin 30s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle-anchor {
    position: absolute;
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    transition: transform 0.3s;
  }

  .circle-image {
    width: 65px;
    height: 65px;
    margin-bottom: 5px;
    border-radius: 50%;
    transition: transform 0.3s;
  }

  .circle-image:hover {
    transform: scale(1.2);
  }
 
  /* Animação de rotação */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  