.section-title {
    display: flex; 
    align-items: center; 
    flex: 1;
}

.section-title h2 {
    color: #C0C0C0;
    text-transform: uppercase;
    margin: 0; 
    white-space: nowrap;
}

.section-title .line {
    flex-grow: 1;
    height: 2px;
    background: #C0C0C0;
    margin-left: 10px; 
}
